[submodule "test-webpack"]
	path = test-webpack
	url = git@github.com:Toge66/test-webpack.git
[submodule "test-css"]
	path = test-css
	url = git@github.com:Toge66/test-css.git
[submodule "test-shell"]
	path = test-shell
	url = git@github.com:Toge66/test-shell.git
[submodule "note-js"]
	path = note-js
	url = git@github.com:Toge66/note-js.git
[submodule "test-antd"]
	path = test-antd
	url = git@github.com:Toge66/test-antd.git
